body {
	padding: 0;

	min-height: 2000px;
}

.navbar {
	width: 100%;

	top: 0px;
	height: 50px;

	position: fixed;

	background-color: #336699;
}

.navbar-container {
	width: 1280px;
	
	margin-right: auto;
	margin-left: auto;
}

.content {
	margin: 0px auto;
	margin-top: 50px;

	width: 100%;
	height: 2000px;

	background-color: #996633;
}

footer {
	background-color: #336699;

	height: 200px;
	width: 100%;
}

footer > h1 {
	margin: 0px;
}